<p>Currently In hotel: {{this.hotel.name}}</p>
<a class="d-inline-block mr-4" href="/hotel/{{this.hotel_id}}">hotel info</a>
<a class="d-inline-block" href="/api/pet/pickup/{{this.id}}">pick up my pet</a>

