<div class="container-fluid">
    {{#each hotels as |hotel|}}
    <div class="row d-flex justify-content-center">
        <img src="/images/{{hotel.filename}}">
        <div class="col-5 border my-3">
            <h3 class="my-2">{{hotel.name}}</h3>
            <p>Address: {{hotel.address}}</p>
            {{> hotel-detail}}
        </div>
    </div>
    {{/each}}
</div>