<div class="container-fluid">
  <div class="row d-flex justify-content-center align-items-center ">
    <img class="monkey" src="/images/login-img/open.JPG" alt="monkey-img"/>
    <div class="m-5 ">
      <h2 class="text-center">Login</h2>
      <form class="form login-form" action="/api/users/login" method="post">
        <div class="form-group">
          <label for="username">username:</label>
          <input class="form-input" type="text" id="username" name="username" />
        </div>
        <div class="form-group">
          <label for="password">password:</label>
          <input class="form-input" type="password" id="password" name="password" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">login</button>
          <a href="/signup">Signup</a>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="/js/login.js"></script>