<div class="row d-flex justify-content-center align-items-start ">
    <div class="m-5 col">
        <h2>Signup</h2>
        <form class="form signup-form" action="/api/users" method="post">
            <div class="form-group">
                <label for="name-signup">name:</label>
                <input class="form-input" type="text" id="name-signup" name="username" />
            </div>
            <div class="form-group">
                <label for="email-signup">email:</label>
                <input class="form-input" type="text" id="email-signup" name="email" />
            </div>
            <div class="form-group">
                <label for="password-signup">password:</label>
                <input class="form-input" type="password" id="password-signup" name="password" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">signup</button>
            </div>
        </form>
    </div>
</div>