/* ----------------overall page styling---------------- */
:root {
  --bg-hotel: #ababab;
  --bg-img: url('/images/bg-banner.jpg');
}

html {
  font-size: 18px;
}


body {

  font-family: 'Roboto', sans-serif;
  background-color: fffcf2;
  color: #252422;
}

a {
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: none;
}

img {
  display: block;
  border-radius: 5%;
}

/* ----------------homepage background---------------- */
#top-banner-bg-image {
  height: 50vh;
  background-image: var(--bg-img);
  background-position: center;
  background-size: cover;
}

.main-title {
  font-size: 4.5em;
}

/* ----------------login page styling---------------- */
.monkey {
  width: 10%;
}

/* ----------------hotel page styling---------------- */
.bg-hotel-card,
.bg-pet-card {
  background-color: #ccc5b9;
  filter: drop-shadow(5px 5px 4px #6d6d6d);
}

.hotel-img {
  width: 30%;
}

.hotel-img-large {
  width: 50%;
}

@media (max-width: 767px) {
  .hotel-img {
    width: 90%;
  }
}