/* ----------------overall page styling---------------- */
:root {
   --bg-hotel: #ffffffe8;
}

p {
  font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a {
  font-weight: bold;
  text-decoration: none;
}

a:hover{
  color: red;
  text-decoration: none;
}

img{
  display: block;
}


/* ----------------login page styling---------------- */
.monkey {
  position: absolute;
  top: 5rem;
  left: 5rem;
  width: 20%;
}

/* ----------------hotel page styling---------------- */
.bg-hotel-card {
  background-color: var(--bg-hotel);
}

.hotel-img {
  width: 30%;
}

.hotel-img-large {
  width: 50%;
}