/* ----------------overall page styling---------------- */
:root {
  --bg-hotel: #ababab;
  --bg-img: url("https://images.dog.ceo/breeds/sheepdog-shetland/n02105855_17258.jpg");
}

html{
  font-size: 16px;
}

p {
  font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a {
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: none;
}

img {
  display: block;
}

/* ----------------homepage background---------------- */
#top-banner-bg-image {
  height: 20rem;
  background-image: var(--bg-img);
  background-position: center;
  background-size: cover;
}

.main-title {
  font-size: 2.5em;
}

/* ----------------login page styling---------------- */
.monkey {
  width: 10%;
}

/* ----------------hotel page styling---------------- */
.bg-hotel-card {
  background-color:#d9d9d9 ;
  filter: drop-shadow(5px 5px 4px #6d6d6d);
}

.hotel-img {
  width: 30%;
}

.hotel-img-large {
  width: 50%;
}